//main: ../main.scss

// ------------------------------------------------------------------------------------
// This file contains all styles related to the banner section of the site/application.
// ------------------------------------------------------------------------------------

.banner {
    &-bg-white {
        background-color: #fff;
    }
    &-bg-pink {
        background-color: $pink;
    }
    &-bg-burgundy {
        background-color: $burgundy;
    }
    &-bg-blue {
        background-color: $blue;
    }
    &-bg-green {
        background-color: $green;
    }
    &-bg-yellow {
        background-color: $yellow;
    }
}

.banner-home {
    padding: 100px 0 150px;

    .wrapper {
        position: relative;
    }

    .section-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin-left: 20%;
        text-align: center;
    }

    .banner-image {
        position: absolute;
        top: 0;
        left: 50%;

        img {
            width: 420px;
            height: auto;
        }
    }

    p {
        width: 100%;
        max-width: 310px;
        padding: 30px 0;
        font-size: 20px;
    }
}