//main: ../main.scss

// ------------------------------------------------------------------------------------
// This file contains all styles related to the banner section of the site/application.
// ------------------------------------------------------------------------------------

.banner {
    &-bg-white {
        background-color: #fff;
    }
    &-bg-pink {
        background-color: $pink;
    }
    &-bg-burgundy {
        background-color: $burgundy;
    }
    &-bg-blue {
        background-color: $blue;
    }
    &-bg-green {
        background-color: $green;
    }
    &-bg-yellow {
        background-color: $yellow;
    }
}