//main: ../main.scss

// ------------------------------------------------------------------------------------
// This file contains all styles related to the banner section of the site/application.
// ------------------------------------------------------------------------------------

.banner-home {
    position: relative;
    padding: 120px 0 250px;
    overflow: hidden;

    .wrapper {
        position: relative;
    }

    .section-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin-left: 15%;
        text-align: center;
    }

    .banner-image {
        position: absolute;
        top: 0;
        left: 50%;
        padding-top: 70px;

        .background-color {
            content: "";
            position: absolute;
            top: -120px;
            left: 165px;
            width: 100vw;
            height: calc(100% + 250px);
            transform: skewX(-10deg);
        }

        img {
            position: relative;
            z-index: 2;
            width: 470px;
            height: auto;
        }
    }

    p {
        width: 100%;
        max-width: 400px;
        padding: 30px 0;
        font-size: 26px;
    }

    .image-confetti {
        position: absolute;
        z-index: 1;
        pointer-events: none;
        width: auto;
        max-width: 30vw;
        height: auto;
        min-height: 200px;
        max-height: 30vh;
    }

    .image-right {
        top: 0;
        right: 0;
    }

    .image-left {
        bottom: 0;
        left: 0;
    }

    @media (max-width: 1399px) {
        .section-heading {
            margin-left: 9.5%;
        }
    }

    @media (max-width: 1199px) {
        .image-confetti {
            max-width: 25vw;
            min-height: 150px;
            max-height: 25vh;
        }

        p {
            max-width: 340px;
            font-size: 22px;
        }

        .banner-image {
            padding-top: 100px;

            .background-color {
                left: 150px;
            }

            img {
                width: 420px;
            }
        }
    }
}