//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.page-home {
    .category-boxes {
        overflow: hidden;
    }

    .features {
        position: relative;
        padding: 120px 0;
        overflow: hidden;

        .image-leaf {
            position: absolute;
            width: auto;
            height: auto;
            max-height: 580px;
            opacity: .1;
            pointer-events: none;
        }

        .image-left {
            top: 0;
            left: 0;
        }

        .image-right {
            bottom: 0;
            right: 0;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .items {
            display: flex;
            justify-content: center;
            // padding: 50px 100px;
            width: 1100px;
            padding-top: 50px;
            margin-left: auto;
            margin-right: auto;
        }

        .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 33.33%;
            padding: 20px 50px 0;

            &-icon {
                width: auto;
                height: auto;
                max-height: 80px;
                margin-bottom: 30px;
            }

            &-heading {
                font-size: 26px;
                line-height: 1;
                font-family: $font-catalpa-extrabold;
                color: $burgundy;
            }

            &-description {
                margin-top: 20px;
                font-size: 18px;
                line-height: 1.4;
                color: #fff;
            }
        }
    }

    .about {
        position: relative;
        padding: 250px 0 200px;
        overflow: hidden;

        .image-paw {
            position: absolute;
            top: 0;
            left: 45%;
            z-index: 1;
            height: 220px;
            opacity: 0;
        }

        .section-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: fit-content;
            margin-left: 15%;

            p {
                width: 450px;
                margin-top: 30px;
                font-size: 18px;
                line-height: 1.3;
            }
        }

        .section-image {
            position: absolute;
            top: 0;
            left: 58%;
            bottom: 0;
            display: flex;
            align-items: center;
            margin-top: auto;
            margin-bottom: auto;
    
            .background-color {
                content: "";
                position: absolute;
                top: -200px;
                left: 252px;
                width: 100vw;
                height: calc(100% + 250px);
                transform: skewX(-9deg);
            }
    
            img {
                position: relative;
                z-index: 2;
                width: 320px;
                height: auto;
            }
        }
    }

    .faqs {
        overflow: hidden;
        padding: 100px 0;

        .container {
            position: relative;
        }

        .image-castle {
            position: absolute;
            bottom: -70px;
            left: -50px;
            z-index: 1;
            width: 450px;
            height: auto;
        }

        .wrapper {
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            width: 800px;
            margin-left: auto;
            padding-right: 100px;
        }

        .section-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            
            p {
                // width: 550px;
                margin-top: 30px;
                font-size: 18px;
                line-height: 1.3;
            }
        }

        .accordion {
            margin-top: 40px;
        }
    }

    .contact {
        position: relative;
        padding: 100px 0;
        overflow: hidden;

        .image-contact {
            position: absolute;
            top: initial;
            bottom: 40px;
            z-index: 1;
            width: 290px;
            height: auto;
            opacity: 0;
        }

        .image-left {
            left: 0;
        }

        .image-right {
            right: 0;
        }

        .container {
            position: relative;
            z-index: 2;
        }

        .wrapper {
            // width: 80%;
            // padding: 0 100px;
            // width: 100%;
            width: 1000px;
            margin: auto;
        }

        .section-text {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .columns {
            display: flex;
            flex-wrap: wrap;
            margin-top: 50px;

            .column {
                display: flex;
                flex-direction: column;
                width: 50%;
                padding: 0 30px;
            }
        }

        .contact-details {
            display: flex;
            flex-wrap: wrap;
            margin-top: 50px;

            .detail-full {
                width: 100%;
            }

            .detail-half {
                width: 50%;
            }

            .detail {
                position: relative;
                display: flex;
                align-items: center;
                padding-left: 40px;
                min-height: 25px;

                & + .detail {
                    margin-top: 25px;
                }
            }
    
            img {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: auto;
                height: 20px;
                margin: auto;
            }

            p {
                font-size: 18px;
            }

            a {
                display: flex;
                font-size: 14px;
                line-height: 18px;
            }
        }

        .contact-form {
            margin-top: -8px;
        }
    }

    @media (min-width: 1400px) and (max-width: 1599px) {
        .contact {
            .image-left {
                left: initial;
                right: 84%;
            }

            .image-right {
                left: 84%;
                right: initial;
            }
        }
    }

    @media (max-width: 1399px) {
        .about {
            .section-text {
                margin-left: 9.5%;
            }
        }

        .faqs {
            .image-castle {
                width: 400px;
            }

            .wrapper {
                width: 700px;
                padding-right: 0;
            }
        }

        .contact {
            .image-contact {
                bottom: 80px;
                width: 260px;
            }

            .wrapper {
                width: 650px;
            }

            .columns .column {
                width: 100%;
            }

            .column-info {
                p {
                    padding: 0 8px;
                }

                .contact-details {
                    padding: 0 8px;
                    margin-top: 30px;
                }
            }

            .contact-form {
                margin-top: 30px;
            }
        }
    }
  
    @media (max-width: 1199px) {
        .features {
            padding: 100px 0;

            .image-leaf {
                max-height: 480px;
            }

            .image-left {
                left: -50px;
            }

            .image-right {
                right: -50px;
            }

            .items {
                width: 100%;
            }

            .item {
                padding: 20px 40px 0;
            }
        }

        .about {
            .image-paw {
                left: 42%;
                height: 200px;
            }

            .section-text {
                // margin-left: 0;
                margin-left: 4%;
            }

            .section-image {
                .background-color {
                    left: 222px;
                }

                img {
                    width: 280px;
                }
            }
        }

        .faqs {
            .image-castle {
                left: initial;
                right: 75%;
                width: 370px;
            }
        }

        .contact {
            .image-contact {
                width: 290px;
            }

            .image-left {
                left: initial;
                right: 80%;
            }

            .image-right {
                left: 80%;
                right: initial;
            }
        }
    }
  
    @media (max-width: 991px) {
        .features {
            .image-leaf {
                max-height: 400px;
            }

            .image-left {
                left: -30px;
            }

            .image-right {
                right: -30px;
            }

            .items {
                flex-wrap: wrap;
                padding-top: 0;
            }

            .item {
                width: 100%;
                padding: 50px 40px 0;

                &-icon {
                    max-height: 60px;
                    margin-bottom: 20px;
                }

                &-description {
                    width: 400px;
                }
            }
        }

        .about {
            padding: 100px 0;

            .image-paw {
                left: 20%;
                height: 180px;
            }

            .wrapper {
                display: flex;
                flex-wrap: wrap;
            }

            .section-image {
                position: relative;
                z-index: 1;
                left: 55%;
                order: 1;

                .background-color {
                    top: -100px;
                    left: 154px;
                    height: calc(100vh + 200px);
                }

                img {
                    width: 250px;
                }
            }

            .section-text {
                position: relative;
                z-index: 2;
                order: 2;
                width: 100%;
                padding-top: 50px;
            }
        }

        .faqs {
            .image-castle {
                right: 78%;
                width: 270px;
            }

            .accordion {
                padding-left: 150px;
            }
        }

        .contact {
            .image-contact {
                bottom: 30px;
            }

            .image-left {
                left: -10%;
                right: initial;
            }

            .image-right {
                left: initial;
                right: -10%;
            }

            form {
                input:not([type="submit"]), select, textarea {
                    background-color: $pink;
                }
            }
        }
    }
  
    @media (max-width: 767px) {
        .features {
            padding: 50px 0;

            .image-leaf {
                max-height: 220px;
            }

            .item {
                padding: 50px 10px 0;

                &-icon {
                    max-height: 50px;
                }

                &-heading {
                    font-size: 22px;
                }

                &-description {
                    width: 100%;
                    max-width: 400px;
                    margin-top: 15px;
                    font-size: 16px;
                }
            }
        } 

        .about {
            padding: 100px 0 70px;

            .image-paw {
                left: 10%;
                height: 140px;
            }

            .section-image {
                left: initial;
                right: initial;
                margin-left: auto;
                margin-right: auto;
                padding: 100px 0 70px;

                .background-color {
                    left: 167px;
                    height: 650px;
                }

                img {
                    width: 220px;
                }
            }

            .section-text {
                position: relative;
                margin-left: initial;

                &::before {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: -15px;
                    width: calc(100% + 30px);
                    height: 100%;
                    background-color: $burgundy;
                    border-top: 2px solid $pink;
                }

                h2, p {
                    position: relative;
                    z-index: 2;
                }

                p {
                    width: 100%;
                    max-width: 450px;
                    font-size: 16px;
                }
            }
        }

        .faqs {
            padding: 50px 0;

            .image-castle {
                display: none;
            }

            .wrapper {
                width: 100%;
                max-width: 700px;
            }

            .section-text {
                p {
                    margin-top: 20px;
                    font-size: 16px;
                }
            }

            .accordion {
                padding-left: initial;
            }
        }

        .contact {
            padding: 50px 0;

            .image-contact {
                display: none;
            }

            .wrapper {
                width: 100%;
                max-width: 650px;
            }

            .columns {
                margin-top: 30px;

                .column {
                    padding: 0;
                }
            }

            .contact-details {
                .detail {
                    padding-left: 35px;
                }
            }
        }
    }

    @media (max-width: 575px) {
        .contact {
            .contact-details .detail-half {
                width: 100%;
            }
        }
    }
}