//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the product page.
// -----------------------------------------------------------------------------

.page-product {
    .product-section {
        position: relative;
        padding: 100px 0;
        overflow: hidden;

        .product {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: 85%;
            margin-left: auto;
            margin-right: auto;
        }

        .product-image {
            // width: 350px;
            width: 35%;

            .product-variation {
                position: relative;
                z-index: 2;
                padding: 20px 15px 0;
                margin-bottom: -10px;

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 45px;
                    height: 45px;
                    margin-left: auto;
                    font-family: $font-soleil-book;
                    line-height: 1;
                    font-size: 16px;
                    text-align: center;
                    background-color: $burgundy;
                    border: none;
                    border-radius: 50%;
                }
            }
        }

        .product-details {
            // width: calc(100% - 350px);
            width: 65%;
            padding-left: 70px;
            
            .product_title {
                font-family: $font-catalpa-extrabold;
                font-size: 40px;

            }

            .product-claims {
                margin: 0;
                padding: 25px 0 0;
                list-style: none;

                li {
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding: 7px 0;
                    padding-left: 70px;
                    font-size: 20px;
                    opacity: 0;

                    & + li {
                        margin-top: 15px;
                    }
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    object-fit: contain;
                    object-position: center;
                    width: auto;
                    max-width: 35px;
                    max-height: 40px;
                    margin-top: auto;
                    margin-bottom: auto;
                }

                div, p, span {
                    font-size: 20px;

                    a {
                        position: relative;
                        color: $blue;

                        &::before {
                            content: "";
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            width: 0;
                            height: 2px;
                            margin-left: auto;
                            margin-right: auto;
                            background-color: $blue;
                            transition: .15s ease-in-out all;
                        }

                        &:hover {
                            &::before {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .product-tabs {
            width: 100%;
            margin-top: 50px;

            .nav-tabs {
                border-bottom: 0;
            }

            .nav-link {
                display: flex;
                justify-content: center;
                flex-grow: 1;
                padding: 10px 5px;
                font-family: $font-catalpa-extrabold;
                font-size: 20px;
                text-align: center;
                color: #fff;
                background-color: $pink;
                border: 2px solid #fff;
                border-radius: 0;
                opacity: 0;
            }

            .tab-content {
                position: relative;
                opacity: 0;
                padding-top: 2px;
                
                &::before {
                    content: "";
                    position: absolute;
                    top: 2px;
                    left: 0;
                    z-index: 3;
                    width: 100%;
                    height: 1px;
                    background-color: $pink;
                }
            }

            .tab-pane {
                padding: 30px;
                border: 2px solid #fff;
                border-radius: 0;
            }

            .tab-content-wrapper {
                * {
                    font-size: 18px;
                    line-height: 1.3;
                }
            }
            
            &-burgundy {
                .nav-link {
                    border-color: $burgundy;

                    &.active {
                        background-color: $burgundy;
                    }
                }

                .tab-pane {
                    border-color: $burgundy;

                    &.active {
                        background-color: $burgundy;
                    }
                }
            }
            
            &-blue {
                .nav-link {
                    border-color: $blue;

                    &.active {
                        background-color: $blue;
                    }
                }

                .tab-pane {                    
                    border-color: $blue;
                    
                    &.active {
                        background-color: $blue;
                    }
                }
            }
            
            &-green {
                .nav-link {
                    border-color: $green;

                    &.active {
                        background-color: $green;
                    }
                }

                .tab-pane {
                    border-color: $green;
                    
                    &.active {
                        background-color: $green;
                    }
                }
            }
            
            &-yellow {
                .nav-link {
                    border-color: $yellow;

                    &.active {
                        background-color: $yellow;
                    }
                }

                .tab-pane {
                    border-color: $yellow;
                    
                    &.active {
                        background-color: $yellow;
                    }
                }
            }
        }
    }

    .usage-instructions {
        position: relative;
        padding: 100px 0;
    }

    .product-listing {
        padding: 100px 0;

        .section-text {
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
        }
    }

    @media (max-width: 1199px) {
        .product-section {
            .product-details {
                .product_title {
                    font-size: 36px;
                }
            }

            .product-tabs {
                .nav-link {
                    font-size: 18px;
                }

                .tab-pane {
                    padding: 25px;
                }
            }
        }
    }

    @media (max-width: 991px) {
        .product-section {
            .container {
                max-width: 100%;
            }

            .product {
                width: calc(100% - 50px);
            }

            .product-details {
                width: 65%;
                padding-left: 50px;

                .product_title {
                    padding-right: 50px;
                }

                .product-claims {
                    li {
                        padding-left: 60px;
                    }

                    div, p, span {
                        font-size: 18px;
                    }
                }
            }
        }

        .product-listing {
            padding: 80px 0;

            .container {
                max-width: 100%;
            }
    
            .section-text {
                margin-bottom: 30px;
            }
        }
    }

    @media (max-width: 767px) {
        .product-section {
            padding: 50px 0 70px;

            .product-roundel {
                top: 15px;
                right: initial;
                left: 15px;
            }

            .product-image {
                width: 100%;
            }

            .product-details {
                width: 100%;
                padding-top: 40px;
                padding-left: 0;

                .product_title {
                    padding-right: 0;
                    font-size: 30px;
                }
            }

            .product-tabs {
                order: 3;
                margin-top: 40px;

                .nav-tabs {
                    flex-direction: column;
                }

                .tab-pane {
                    padding: 20px;
                }

                .tab-content-wrapper {
                    * {
                        font-size: 16px;
                    }
                }
            }
        }

        .usage-instructions {
            padding: 70px 0;
        }

        .product-listing {
            padding: 70px 0;
        }
    }

    @media (max-width: 575px) {
        .product-section {
            .product {
                width: calc(100% - 30px);
            }
        }

        .usage-instructions {
            padding: 50px 0;
        }
    }
}