//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the accordion component.
// -----------------------------------------------------------------------------

.accordion {
    .accordion-item {
        background-color: transparent;
        border: 0;
        border-bottom: 3px solid $pink;
        border-radius: 0;

        &:first-child {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: -3px;
                width: 100%;
                border-top: 3px solid $pink;
            }
        }

        button.accordion-button {
            padding: 15px;
            font-family: $font-catalpa-extrabold;
            font-size: 18px;
            color: $burgundy;
            background-color: transparent;
            box-shadow: none;
            border-radius: 0;

            &::after {
                width: 18px;
                height: 10px;
                background-image: url(../assets/images/accordion-arrow-down-burgundy.png);                
                background-repeat: no-repeat;
                background-size: contain;
                filter: none;
            }
        }

        button.accordion-button:not(.collapsed) {
            background-color: $pink;
            color: #fff;

            &::after {
                filter: brightness(100);
            }
        }

        .accordion-collapse {
            color: #fff;
            background-color: $burgundy;
        }

        .accordion-body {
            padding: 15px;

            // p {
            //     font-size: 16px;
            // }

            ul {
                padding-left: 30px;
            }
        }
    }

    @media (max-width: 991px) {
        .accordion-item {
            button.accordion-button {
                font-size: 16px;

                &::after {
                    width: 14px;
                    height: 8px;
                }
            }

            .accordion-body {
                p, li {
                    line-height: 1.4;
                }
            }
        }
    }

    @media (max-width: 767px) {
        .accordion-item {
            button.accordion-button {
                padding: 12px;
            }
        }
    }
}