//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the swiper component.
// -----------------------------------------------------------------------------

.swiper-js {
    .swiper-featured {
        position: relative;
        width: 100%;
        
        .background-color {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            opacity: .7;
        }

        .swiper-wrapper {
            z-index: 2;
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            padding: 50px;
            opacity: 0 !important;

            &.swiper-slide-active {
                opacity: 1 !important;
            }
        }

        img {
            width: auto;
            max-width: 100%;
            height: auto;
            max-height: 100%;
        }
    }

    .swiper-thumbnails {
        margin: 10px -5px 0;

        .swiper-slide {
            display: flex;
            justify-content: center;
            width: 25%;
            padding: 5px;
        }

        .swiper-slide-thumb-active {
            .swiper-slide-wrapper::before {
                border-color: $burgundy;
            }
        }

        .swiper-slide-wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 90px;
            padding: 12px;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                top: -2px;
                left: -2px;
                z-index: 3;
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                border: 2px solid transparent;
                transition: .25s ease-in-out all;
            }
        }

        .background-color {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            opacity: .7;
        }

        img {
            position: relative;
            z-index: 2;
            object-fit: contain;
            object-position: center;
            width: auto;
            max-width: 100%;
            height: 80px;
            max-height: 100%;
        }
    }

    @media (max-width: 1399px) {
        .swiper-thumbnails {
            .swiper-slide-wrapper {
                height: 80px;
                padding: 10px;
            }
        }
    }

    @media (max-width: 1199px) {
        .swiper-featured {
            .swiper-slide {
                padding: 35px;
            }
        }

        .swiper-thumbnails {
            .swiper-slide-wrapper {
                height: 65px;
                padding: 8px;
            }
        }
    }

    @media (max-width: 991px) {
        .swiper-thumbnails {
            .swiper-slide-wrapper {
                height: 7vw;
            }
        }
    }

    @media (max-width: 767px) {
        .swiper-thumbnails {
            .swiper-slide-wrapper {
                height: 21vw;
                padding: 15px;
            }

            img {
                height: auto;
            }
        }
    }

    @media (max-width: 575px) {
        .swiper-thumbnails {
            .swiper-slide-wrapper {
                height: 19vw;
                padding: 7px;
            }
        }
    }
}