//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

::selection {
    color: #fff;
    background: $pink-highlight;
}

::-moz-selection {
    color: #fff;
    background: $pink-highlight;
}


/**
* Basic styles for links
*/
a {
    color: $brand-color;
    text-decoration: none;

    @include on-event {
        color: $text-color;
        text-decoration: underline;
    }
}
  
.btn, a {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;

    @include on-event {
        outline: 0;
        @include boxshadow(none);
    }
}
  
/**
* Basic styles for input fields
*/
input[type="email"],
input[type="password"],
input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-focus-ring-color: none;
    outline: none;

    @include on-event {
        @include boxshadow(none);
    }
}

//styles for navbar-toggler
.navbar-toggler {
    // margin: 12px 25px 12px auto;
    // margin: 0 5px 0 12px;
    // padding: 10px 0; 
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;

    .icon-bar {
        display: block;
        height: 4px;
        width: 30px;
        background: $brand-color;
        @include boxshadow(none);
        @include transition(0.5s cubic-bezier(0.65, 0.05, 0.36, 1));

        &+.icon-bar {
            margin-top: 6px;
        }
    }

    &[aria-expanded="true"] {
        .icon-bar {
            &:first-child {
                @include transform(rotate(225deg) translate(-9px, -5px));
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:last-child {
                @include transform(rotate(-225deg) translate(-8px, 6px));
            }
        }
    }

    @include on-event() {
        outline: 0;
        box-shadow: none;
    }
}

// container 
.container {
    @media (max-width: 767px) {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

// overlay
.overlay {
    position: absolute;
    top: 0;
    right: initial;
    bottom: initial;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: .5;
    pointer-events: none;
    transition: .3s cubic-bezier(0.65, 0.05, 0.36, 1) all;

    &-black {    
        background-color: #000;
    }
}

// not clickable elements
.not-clickable {
    pointer-events: none;
}

// main
main {
    padding-top: 84px;
    background-color: $burgundy;

    @media (max-width: 991px) {
        padding-top: 70px;
    }

    @media (max-width: 767px) {
        padding-top: 61px;
    }
}

// background colors
.background {
    &-white {
        background-color: #fff;
    }
    &-pink {
        background-color: $pink;
    }
    &-burgundy {
        background-color: $burgundy;
    }
    &-blue {
        background-color: $blue;
    }
    &-green {
        background-color: $green;
    }
    &-yellow {
        background-color: $yellow;
    }
}

// border top and bottom
.border-top {
    &-1 {
        border-top-width: 1px;
        border-top-style: solid;
    }
    &-2 {
        border-top-width: 2px;
        border-top-style: solid;
    }
    &-3 {
        border-top-width: 3px;
        border-top-style: solid;
    }
    &-4 {
        border-top-width: 4px;
        border-top-style: solid;
    }
    &-5 {
        border-top-width: 5px;
        border-top-style: solid;
    }
}
.border-bottom {
    &-1 {
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
    &-2 {
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }
    &-3 {
        border-bottom-width: 3px;
        border-bottom-style: solid;
    }
    &-4 {
        border-bottom-width: 4px;
        border-bottom-style: solid;
    }
    &-5 {
        border-bottom-width: 5px;
        border-bottom-style: solid;
    }
}

.border-color-white {
    border-color: #fff;
}
.border-color-pink {
    border-color: $pink;
}
.border-color-burgundy {
    border-color: $burgundy;
}
.border-color-blue {
    border-color: $blue;
}
.border-color-green {
    border-color: $green;
}
.border-color-yellow {
    border-color: $yellow;
}


// animation delay custom
.animate__delay-500ms {
    --animate-delay: 0.5s;
}


// br height
br {
    display: block;
    content: "";
    margin-top: 15px;
}