@charset 'UTF-8';

// 1. Configuration and helpers
@import
    'utils/variables',
    'utils/functions',
    'utils/mixins';

// 2. Vendors
@import
    // 'vendors/slick.min.css',
    // 'vendors/slick-theme.min.css',
    'vendors/swiper-bundle-min.css',
    'vendors/bootstrap.min.css',
    'vendors/animate.min.css',
    'vendors/scrollCue.css';

// 3. Base stuff
@import
    'base/reset',
    'base/base',
    'base/fonts',
    'base/typography';

// 4. Components
@import
    'components/buttons',
    'components/accordion',
    'components/contact-form',
    'components/floating-subscribe',
    'components/search-section',
    'components/product-roundel',
    'components/product-items',
    'components/usage-instructions',
    'components/swiper';

// 5. Layout-related sections
@import
    'layout/top-navigation',
    'layout/footer',
    'layout/banner',
    'layout/category-boxes';

// 6. Page-specific styles
@import
    'pages/home',
    'pages/shop',
    'pages/product',
    'pages/default';